/*CSS CODES HERE*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #e2faff70;
}

.content {
    margin-left: 250px;
}

.nav {
    position: fixed !important;
    height: 100%;
    width: 230px;
    background-color: #071027;
    display: grid;
    place-items: center;
    height: 100%;
    margin-top: 0px;
    overflow: auto;
    z-index: 1;
}


.nav .nav-items {
    display: grid;
    grid-template-rows: repeat(10, 2fr);
    place-items: flex-start;
}

.nav a {
    color: #fff;
    text-decoration: none;
    
    font-family: 'Roboto', sans-serif;
}

.item-logo {
    font-size: 35px;
    text-align: center;
    font-family: 'Kanit',monospace;
}

.item-logo img {
    width: 75%;
}

.item-grid1 {
    grid-row: 1/2;
    margin: 10px 0;
    font-size: 17px;
}

.item-grid2 {
    grid-row: 2/3;
    margin: 10px 0;
    font-size: 17px;
}

.item-grid3 {
    grid-row: 3/4;
    margin: 10px 0;
    font-size: 17px;
}

.item-grid4 {
    grid-row: 4/5;
    margin: 10px 0;
    font-size: 17px;
}

.item-grid5 {
    grid-row: 5/6;
    margin: 10px 0;
    font-size: 17px;
}

.item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item:hover {
    color: red!important;
}

.admin-dashboard-welcome {
    padding: 20px 0 10px ;
}

.admin-dashboard-welcome h2 {
    font-size: 2rem;
    font-family: 'Roboto',sans-serif;
}

.admin-dashboard-welcome h2 span {
    color: grey;
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
}

.bus-status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 70px 0;
}

.bus-status {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 20px 10px;
    background: #fff;
    padding: 30px;
}

.bus-status img {
    width: 180px;
    height: auto;
}
.bus-status p {
    margin: 10px 0;
}

.bus-status button {
    width: 100%;
    padding: 0.7rem 1.5rem;
    color: #fff;
    font-size: 1rem;
    
    border: 0;
    border-radius: 5px;
}

#customers {
    background: #AD57FE;
}

#customers:hover {
    background: #7a3eb2;
}

#bookings {
    background: plum;
}

#bookings:hover {
    background: rgb(148, 105, 148);
}

#date {
    background: peachpuff;
}

#date:hover {
    background: rgb(202, 173, 148);
}

#admin-btn {
    background: dodgerblue;
}

#admin-btn:hover {
    background: rgb(24, 101, 178);
}

#bus {
    background: #FF4E32;
}

#bus:hover {
    background: #a73a29;
}

#seats {
    background: darkslategrey;
}

#seats:hover {
    background: rgb(30, 51, 51);
}

.database-container {
    background: #fff;
    padding: 20px;
    margin: 30px 10px;
}

.notification {
    display: flex;
    justify-content: flex-start;
    font-family: 'Poppins',sans-serif;
    font-weight: 800;
}


.warning {
    background: #F0FFE8;
    padding: 15px;
    border-radius: 5px;
    font-size: 13px;
    width: 95%;
    margin: 15px 8px;
    color: #2a620c;
    font-family: 'Roboto',sans-serif;
}

.database-table {
    text-align: center;
    margin: 70px 0;
}

th {
    font-family: 'Roboto',sans-serif;
    color: rgb(60, 57, 57);
}

td {
    border-left: 1px solid rgb(174, 171, 171);
    padding: 5px 13px;
    font-family: 'Poppins',sans-serif;
}

.tr {
    height: 10vh;
}

.database-table button {
    width: 100%;
    margin: 40px 0;
    padding: 10px;
    background: #4FC2F1;
    border: 0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Poppins',sans-serif;

}

.database-table button:hover {
    background: #3b98bd;
    transition: .3s;
} 